<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce products</title>
    <link rel="stylesheet" href="static/css/common.css">
    <link rel="stylesheet" href="static/css/products.css">
    <script src="static/script/products.js"></script>
</head>
<body>
    <h1>PRODUCTOS</h1>
    <div class="options">
        
        <span>
            <form action="users/logout" method="post">
            <button type="submit">LOGOUT</button>
            </form>
        </span>
    </div>
    <div class="allproducts">
        {{#each products}}
    <div class="productbox" id="{{this.id}}">
        <button>add to cart</button>
        <h3>{{ uppercase this.name}}</h3>
        <button>Agregar al carrito</button>
        <p>{{this.description}}</p>
        <span>PRECIO: </span><span>{{this.price}} Euros</span><br>
        <img src="{{this.image}}" alt="Imagen del producto">
    </div>
    {{/each}}
    </div>


</body>
</html>